{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": false,
  "printWidth": 80,
  "useTabs": true,
  "endOfLine": "lf",
  "plugins": [
    "prettier-plugin-solidity"
  ],
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "semi": true,
        "printWidth": 100,
        "tabWidth": 2,
        "bracketSpacing": true,
        "compiler": "0.8.18"
      }
    }
  ]
}
