# Restricts direct access to files that are not intended to be publicly available

# Apache 2.2
<IfModule !mod_authz_core.c>
        Order Deny,Allow
        Deny from all
</IfModule>

# Apache 2.4
<IfModule mod_authz_core.c>
        Require all denied
</IfModule>


# Allows direct access to specific files only

# Cloudflare JS and CSS
<FilesMatch "^.+(js|css)$">
        # Apache 2.2
        <IfModule !mod_authz_core.c>
                Allow from all
        </IfModule>

        # Apache 2.4
        <IfModule mod_authz_core.c>
                Require all granted
        </IfModule>
</FilesMatch>

# Cloudflare images
<FilesMatch "^.+(png|svg|gif|jpg|webp)$">
        # Apache 2.2
        <IfModule !mod_authz_core.c>
                Allow from all
        </IfModule>

        # Apache 2.4
        <IfModule mod_authz_core.c>
                Require all granted
        </IfModule>
</FilesMatch>

# Cloudflare fonts
<FilesMatch "^.+(eot|ttf||otf|woff|woff2)$">
        # Apache 2.2
        <IfModule !mod_authz_core.c>
                Allow from all
        </IfModule>

        # Apache 2.4
        <IfModule mod_authz_core.c>
                Require all granted
        </IfModule>
</FilesMatch>
