pre {
    background: #f8f8f8 !important;
    border: 1px solid #eee !important;
    margin-bottom: 1.5em !important;
    padding: 0.3em 0.5em !important;
}

pre code {
    font-family:  Consolas, Monaco, monospace !important;
}