.sidebar-width {
	@apply -ml-sidebar-offset h-full w-sidebar-lg transition-[width,margin] lg:ml-0 xl:w-sidebar;
}

.aside-width {
	@apply -ml-sidebar-offset h-full w-sidebar-lg transition-[width,margin] lg:ml-0 xl:w-sidebar;
}

.panel-width {
	@apply -ml-sidebar-offset h-full w-sidebar-lg transition-[width,margin] md:ml-0 xl:w-sidebar;
}
