.page {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 60px 40px;
	background: var(--gray50);
	border-radius: 15px;
	box-shadow: 0 2px 4px rgb(0 0 0 / 2%), inset 0 -1px 0 rgb(0 0 0 / 6%);
}
