.nexment-admin-badge {
  display: none !important;
}

.nexment-header {
  margin-bottom: 5px !important;
}

.prose ol {
  padding-left: 3rem;
  display: block;
  margin: -0.5rem 0;
  overflow: hidden;
  overflow-x: auto;
  line-height: 1.6;
  color: #212529;
  list-style-type: none;
  counter-reset: item;
}

.prose ol li {
  margin-bottom: 10px;
  padding-left: 0.5rem !important;
}

.prose ol li:before {
  box-sizing: border-box;
  border: 0 solid #999;
  margin-top: 4px;
  margin-left: -3rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.7rem;
  width: 2.5rem;
  background-color: rgba(195, 218, 254, 0.43);
  border-radius: 9999px;
  color: rgba(85, 134, 210, 0.8);
  font-size: 0.95rem;
  font-weight: 700;
  content: counter(item);
  counter-increment: item;
}

.prose p {
  overflow: hidden;
  overflow-x: auto;
}
