parameters:
	level: 6
	paths:
		- admin
		- deprecated
		- includes
		- sources
	ignoreErrors:
		-
			message: '#Function WP_CLI\\Utils\\get_flag_value not found.#'
			path: includes/cli/class-flush-command.php
		-
			message: '#Constant WP_PLUGIN_DIR not found.#'
			path: sources/wp-rest-cache.php