name: Dependabot Auto Merge

on: [pull_request_target]

jobs:
  auto-merge:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    if: github.actor == 'dependabot[bot]'
    steps:
      - uses: actions/checkout@v2
      - uses: ahmadnassri/action-dependabot-auto-merge@v2
        with:
          target: minor
          github-token: ${{ secrets.DEP_AUTOMERGE }}
